@import 'tailwindcss';
@import 'tw-animate-css';

* {
  box-sizing: border-box;
}

.base-layout__wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100dvh;
}

.main-grow {
  flex-grow: 1;
}

body.scroll-locked {
  overflow: hidden;
  height: 100%;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-*: initial;
  --radius-*: initial;

  --gap-empty: 0px;
  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 12px;
  --gap-lg: 16px;
  --gap-xl: 24px;
  --gap-2xl: 32px;

  --breakpoint-ixxs: 360px;
  --breakpoint-ixs: 420px;
  --breakpoint-ism: 576px;
  --breakpoint-imd: 768px;
  --breakpoint-ilg: 992px;
  --breakpoint-ixl: 1200px;
  --breakpoint-i2xl: 1400px;
  --breakpoint-icontainer: 1120px;
}

@theme inline {
  --color-neutral-white: var(--color-neutral-white);
  --color-neutral-zeroSoft: var(--color-neutral-zeroSoft);
  --color-neutral-zero: var(--color-neutral-zero);
  --color-neutral-preZero: var(--color-neutral-preZero);
  --color-neutral-extraLight: var(--color-neutral-extraLight);
  --color-neutral-light: var(--color-neutral-light);
  --color-neutral-normal: var(--color-neutral-normal);
  --color-neutral-medium: var(--color-neutral-medium);
  --color-neutral-semiBold: var(--color-neutral-semiBold);
  --color-neutral-bold: var(--color-neutral-bold);
  --color-neutral-extraBold: var(--color-neutral-extraBold);
  --color-neutral-black: var(--color-neutral-black);
  --color-neutral-solid: var(--color-neutral-solid);
  --color-neutral-abyss: var(--color-neutral-abyss);

  --color-blue-white: var(--color-blue-white);
  --color-blue-zeroSoft: var(--color-blue-zeroSoft);
  --color-blue-zero: var(--color-blue-zero);
  --color-blue-preZero: var(--color-blue-preZero);
  --color-blue-extraLight: var(--color-blue-extraLight);
  --color-blue-light: var(--color-blue-light);
  --color-blue-normal: var(--color-blue-normal);
  --color-blue-medium: var(--color-blue-medium);
  --color-blue-semiBold: var(--color-blue-semiBold);
  --color-blue-bold: var(--color-blue-bold);
  --color-blue-extraBold: var(--color-blue-extraBold);
  --color-blue-black: var(--color-blue-black);
  --color-blue-solid: var(--color-blue-solid);
  --color-blue-abyss: var(--color-blue-abyss);

  --color-red-white: var(--color-red-white);
  --color-red-zeroSoft: var(--color-red-zeroSoft);
  --color-red-zero: var(--color-red-zero);
  --color-red-preZero: var(--color-red-preZero);
  --color-red-extraLight: var(--color-red-extraLight);
  --color-red-light: var(--color-red-light);
  --color-red-normal: var(--color-red-normal);
  --color-red-medium: var(--color-red-medium);
  --color-red-semiBold: var(--color-red-semiBold);
  --color-red-bold: var(--color-red-bold);
  --color-red-extraBold: var(--color-red-extraBold);
  --color-red-black: var(--color-red-black);
  --color-red-solid: var(--color-red-solid);
  --color-red-abyss: var(--color-red-abyss);

  --color-green-white: var(--color-green-white);
  --color-green-zeroSoft: var(--color-green-zeroSoft);
  --color-green-zero: var(--color-green-zero);
  --color-green-preZero: var(--color-green-preZero);
  --color-green-extraLight: var(--color-green-extraLight);
  --color-green-light: var(--color-green-light);
  --color-green-normal: var(--color-green-normal);
  --color-green-medium: var(--color-green-medium);
  --color-green-semiBold: var(--color-green-semiBold);
  --color-green-bold: var(--color-green-bold);
  --color-green-extraBold: var(--color-green-extraBold);
  --color-green-black: var(--color-green-black);
  --color-green-solid: var(--color-green-solid);
  --color-green-abyss: var(--color-green-abyss);

  --color-accent-white: var(--color-accent-white);
  --color-accent-zeroSoft: var(--color-accent-zeroSoft);
  --color-accent-zero: var(--color-accent-zero);
  --color-accent-preZero: var(--color-accent-preZero);
  --color-accent-extraLight: var(--color-accent-extraLight);
  --color-accent-light: var(--color-accent-light);
  --color-accent-normal: var(--color-accent-normal);
  --color-accent-medium: var(--color-accent-medium);
  --color-accent-semiBold: var(--color-accent-semiBold);
  --color-accent-bold: var(--color-accent-bold);
  --color-accent-extraBold: var(--color-accent-extraBold);
  --color-accent-black: var(--color-accent-black);
  --color-accent-solid: var(--color-accent-solid);
  --color-accent-abyss: var(--color-accent-abyss);

  /* Control Colors */
  --color-surface: var(--control-color-surface);
  --color-surfaceSoft: var(--control-color-surfaceSoft);
  --color-page: var(--control-color-page);
  --color-headline: var(--control-color-headline);
  --color-subHeadline: var(--control-color-subHeadline);
  --color-body: var(--control-color-body);
  --color-bodyInverse: var(--control-color-bodyInverse);
  --color-vector: var(--control-color-vector);
  --color-accentBody: var(--control-color-accentBody);
  --color-bodyOnSurface: var(--control-color-bodyOnSurface);

  --radius-empty: var(--radius-empty);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);
}

:root {
  /* Neutral */
  --color-neutral-0: #ffffff;
  --color-neutral-20: #f9f9f9;
  --color-neutral-50: #eeeff1;
  --color-neutral-100: #d4d8de;
  --color-neutral-200: #b9bfc9;
  --color-neutral-300: #9ca5b3;
  --color-neutral-400: #8791a2;
  --color-neutral-500: #727e92;
  --color-neutral-600: #646f81;
  --color-neutral-700: #525b6a;
  --color-neutral-800: #424954;
  --color-neutral-850: #ffffff;
  --color-neutral-900: #2f343c;
  --color-neutral-930: #ffffff;
  --color-neutral-950: #202328;
  --color-neutral-1000: #101112;

  /* Green */
  --color-green-50: #e7f5e6;
  --color-green-100: #c6e7c2;
  --color-green-200: #a1d79b;
  --color-green-300: #79c872;
  --color-green-400: #5abc52;
  --color-green-500: #3ab030;
  --color-green-600: #2fa127;
  --color-green-700: #218f1b;
  --color-green-800: #0f7f0d;
  --color-green-900: #006000;
  --color-green-950: #003c00;
  --color-green-1000: #002100;

  /* Blue */
  --color-blue-20: #f3faff;
  --color-blue-50: #e4f1fa;
  --color-blue-100: #bddcf3;
  --color-blue-200: #95c6eb;
  --color-blue-300: #6fb0e2;
  --color-blue-400: #55a0dd;
  --color-blue-500: #4090d8;
  --color-blue-600: #3983cb;
  --color-blue-700: #3072b8;
  --color-blue-800: #2a61a7;
  --color-blue-900: #1e4587;
  --color-blue-950: #10264b;
  --color-blue-1000: #061020;

  /* Red */
  --color-red-50: #ffebee;
  --color-red-100: #ffcdd1;
  --color-red-200: #f59a98;
  --color-red-300: #ed7170;
  --color-red-400: #f8504a;
  --color-red-500: #fc3e2d;
  --color-red-600: #ee332e;
  --color-red-700: #dc2828;
  --color-red-800: #cf1f20;
  --color-red-900: #c10c12;
  --color-red-950: #7b080c;
  --color-red-1000: #2a0204;

  /* Design Colors */
  --color-neutral-white: var(--color-neutral-0);
  --color-neutral-zeroSoft: var(--color-neutral-20);
  --color-neutral-zero: var(--color-neutral-50);
  --color-neutral-preZero: var(--color-neutral-100);
  --color-neutral-extraLight: var(--color-neutral-200);
  --color-neutral-light: var(--color-neutral-300);
  --color-neutral-normal: var(--color-neutral-400);
  --color-neutral-medium: var(--color-neutral-500);
  --color-neutral-semiBold: var(--color-neutral-600);
  --color-neutral-bold: var(--color-neutral-700);
  --color-neutral-extraBold: var(--color-neutral-800);
  --color-neutral-black: var(--color-neutral-900);
  --color-neutral-solid: var(--color-neutral-950);
  --color-neutral-abyss: var(--color-neutral-1000);

  --color-blue-white: var(--color-blue-0);
  --color-blue-zeroSoft: var(--color-blue-20);
  --color-blue-zero: var(--color-blue-50);
  --color-blue-preZero: var(--color-blue-100);
  --color-blue-extraLight: var(--color-blue-200);
  --color-blue-light: var(--color-blue-300);
  --color-blue-normal: var(--color-blue-400);
  --color-blue-medium: var(--color-blue-500);
  --color-blue-semiBold: var(--color-blue-600);
  --color-blue-bold: var(--color-blue-700);
  --color-blue-extraBold: var(--color-blue-800);
  --color-blue-black: var(--color-blue-900);
  --color-blue-solid: var(--color-blue-950);
  --color-blue-abyss: var(--color-blue-1000);

  --color-red-white: var(--color-red-0);
  --color-red-zeroSoft: var(--color-red-20);
  --color-red-zero: var(--color-red-50);
  --color-red-preZero: var(--color-red-100);
  --color-red-extraLight: var(--color-red-200);
  --color-red-light: var(--color-red-300);
  --color-red-normal: var(--color-red-400);
  --color-red-medium: var(--color-red-500);
  --color-red-semiBold: var(--color-red-600);
  --color-red-bold: var(--color-red-700);
  --color-red-extraBold: var(--color-red-800);
  --color-red-black: var(--color-red-900);
  --color-red-solid: var(--color-red-950);
  --color-red-abyss: var(--color-red-1000);

  --color-green-white: var(--color-green-0);
  --color-green-zeroSoft: var(--color-green-20);
  --color-green-zero: var(--color-green-50);
  --color-green-preZero: var(--color-green-100);
  --color-green-extraLight: var(--color-green-200);
  --color-green-light: var(--color-green-300);
  --color-green-normal: var(--color-green-400);
  --color-green-medium: var(--color-green-500);
  --color-green-semiBold: var(--color-green-600);
  --color-green-bold: var(--color-green-700);
  --color-green-extraBold: var(--color-green-800);
  --color-green-black: var(--color-green-900);
  --color-green-solid: var(--color-green-950);
  --color-green-abyss: var(--color-green-1000);

  --color-accent-white: var(--color-blue-50);
  --color-accent-zeroSoft: var(--color-blue-20);
  --color-accent-zero: var(--color-blue-50);
  --color-accent-preZero: var(--color-blue-100);
  --color-accent-extraLight: var(--color-blue-200);
  --color-accent-light: var(--color-blue-300);
  --color-accent-normal: var(--color-blue-400);
  --color-accent-medium: var(--color-blue-500);
  --color-accent-semiBold: var(--color-blue-600);
  --color-accent-bold: var(--color-blue-700);
  --color-accent-extraBold: var(--color-blue-800);
  --color-accent-black: var(--color-blue-900);
  --color-accent-solid: var(--color-blue-950);
  --color-accent-abyss: var(--color-blue-1000);
  /* Design Colors END */

  /* #control colors */
  --control-color-headline: var(--color-neutral-solid);
  --control-color-subHeadline: var(--color-neutral-black);
  --control-color-body: var(--color-neutral-extraBold);
  --control-color-bodyInverse: var(--color-neutral-zero);
  --control-color-vector: var(--color-accent-normal);
  --control-color-accentBody: var(--color-accent-normal);
  --control-color-bodyOnSurface: var(--color-neutral-black);

  /* ##bg_default_color */
  --control-color-page: var(--color-neutral-zeroSoft);
  --control-color-surface: var(--color-neutral-zero);
  --control-color-surfaceSoft: var(--color-neutral-extraLight);
  --control-color-surfaceExtraSoft: var(--color-neutral-light);
  /* ##bg_default_color end */

  --gap-empty: 0px;
  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 12px;
  --gap-lg: 16px;
  --gap-xl: 24px;

  --radius-empty: 0px;
  --radius-xxs: 4px;
  --radius-xs: 8px;
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 20px;
  --radius-xl: 24px;
  --radius-2xl: 32px;

  /* i - iphone (mobile) media */
  --breakpoint-ixxs: 360px;
  --breakpoint-ixs: 420px;
  --breakpoint-ism: 576px;
  --breakpoint-imd: 768px;
  --breakpoint-ilg: 992px;
  --breakpoint-ixl: 1200px;
  --breakpoint-i2xl: 1400px;
  --breakpoint-icontainer: 1120px;

  /* D - desktop media */
  --breakpoint-Dxxs: 359.98px;
  --breakpoint-Dxs: 419.98px;
  --breakpoint-Dsm: 575.98px;
  --breakpoint-Dmd: 767.98px;
  --breakpoint-Dlg: 991.98px;
  --breakpoint-Dxl: 1199.98px;
  --breakpoint-D2xl: 1399.98px;
  --breakpoint-Dcontainer: 1119.98px;
  /* #control colors END */
}
.dark {
  /* #control colors */
  --control-color-headline: var(--color-neutral-preZero);
  --control-color-subHeadline: var(--color-neutral-light);
  --control-color-body: var(--color-neutral-normal);
  --control-color-bodyInverse: var(--color-neutral-solid);
  --control-color-vector: var(--color-accent-light);
  --control-color-accentBody: var(--color-accent-medium);
  --control-color-bodyOnSurface: var(--color-neutral-light);

  /* ##bg_default_color */
  --control-color-page: var(--color-neutral-solid);
  --control-color-surface: var(--color-neutral-black);
  --control-color-surfaceSoft: var(--color-neutral-bold);
  --control-color-surfaceExtraSoft: var(--color-neutral-undefined);
  /* ##bg_default_color end */

  /* #control colors END */
}

/* shadcn */
:root {
}
.dark {
}
/* shadcn END */

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

/* Typography */
[class*='typo-caption-'] {
  @apply font-(family-name:--font-noto-sans) font-semibold;
}
.typo-caption-lg {
  @apply leading-[1.2] text-base;
}
.typo-caption-md {
  @apply leading-[1.3] text-sm;
}
.typo-caption-sm {
  @apply leading-[1.4] text-xs;
}

[class*='typo-body-'] {
  @apply font-(family-name:--font-inter) font-normal text-body;
}
[class*='typo-body-bold-'] {
  font-weight: 700;
}
.typo-body-bold-base {
  line-height: 1.35;
  font-size: 16px;
}
.typo-body-bold-sm {
  line-height: 1.35;
  font-size: 14px;
}
.typo-body-bold-xs {
  line-height: 1.3;
  font-size: 12px;
}
.typo-body-bold-xxs {
  line-height: 1.3;
  font-size: 10px;
}

.typo-body-base {
  line-height: 1.5;
  font-size: 16px;
}
.typo-body-sm {
  line-height: 1.5;
  font-size: 14px;
}
.typo-body-xs {
  line-height: 1.5;
  font-size: 12px;
}
.typo-body-xxs {
  line-height: 1.5;
  font-size: 10px;
}

[class*='typo-head-'] {
  font-family: var(--font-noto-sans);
  font-weight: 700;
}

.typo-head-hero {
  font-size: 40px;
}
.typo-head-1 {
  font-size: 24px;
}
.typo-head-2 {
  font-size: 20px;
}
.typo-head-3 {
  font-size: 16px;
}
.typo-head-4 {
  font-size: 15px;
}

@media (min-width: 575px) {
  .typo-head-hero {
    font-size: 45px;
  }
  .typo-head-1 {
    font-size: 27px;
  }
  .typo-head-2 {
    font-size: 22.5px;
  }
  .typo-head-3 {
    font-size: 18px;
  }
  .typo-head-4 {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .typo-head-hero {
    font-size: 50px;
  }
  .typo-head-1 {
    font-size: 30px;
  }
  .typo-head-2 {
    font-size: 25px;
  }
  .typo-head-3 {
    font-size: 20px;
  }
  .typo-head-4 {
    font-size: 16.6px;
  }
}
@media (min-width: 992px) {
  .typo-head-hero {
    font-size: 55px;
  }
  .typo-head-1 {
    font-size: 33px;
  }
  .typo-head-2 {
    font-size: 27.5px;
  }
  .typo-head-3 {
    font-size: 22px;
  }
  .typo-head-4 {
    font-size: 18.2px;
  }
}
@media (min-width: 1120px) {
  .typo-head-hero {
    font-size: 60px;
  }
  .typo-head-1 {
    font-size: 36px;
  }
  .typo-head-2 {
    font-size: 30px;
  }
  .typo-head-3 {
    font-size: 24px;
  }
  .typo-head-4 {
    font-size: 20px;
  }
}

/* Typography END */


/* cursor */
.curs-hover {
  &:hover {
    cursor: pointer;
  }
}
/* cursor END */
/* link */
.link {
  transition: 150ms;
  &:hover {
    text-decoration: underline;
    color: var(--color-accent-normal);
  }
  &:active {
    color: var(--color-red-normal);
  }
}
/* link END */